<p style="color: green"><%= notice %></p>

<%= render @band_member %>

<div>
  <%= link_to "Edit this band member", edit_band_member_path(@band_member) %> |
  <%= link_to "Back to band members", band_members_path %>

  <%= button_to "Destroy this band member", @band_member, method: :delete %>
</div>
